@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color:#ff1f1f;
    --black:#13131a;
    --bg:#ffffff;
    --border:.1rem solid rgba(255,255,255,.3);

}


*{
    font-family: 'poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transform: .2s linear;
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;

}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #ffffff;
    border-radius: 5rem;
}

body{
    background: var(--bg);

  
}

section{
    padding: 2rem 7%;
}

.heading{
    margin-top: 10vh;
    text-align: center;
    color: #2b2b2b;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: #131212;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
  letter-spacing: .2rem;  
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    border-bottom: #ff1f1f 5px solid;
    
    
    
}
    

.header .logo img{
    height: 2rem;
}
.logo img{
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 30vh;
    
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.9rem;
    color:#363434;
    font-style: none;
    text-decoration: none;
    font-family:"Poppins", sans-serif;
    
    
}


.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons i{
    color: #363434;
    cursor:pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons i:hover{
    color: var(--main-color);
}

/* ======================================================================================= */


/* ======================================================================================== */
#menu-btn{
    color: #363434;
    cursor:pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    display: none;
}

.header .busca-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #363434;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform:scaleY(0);
    transform-origin: top;
}

.header .busca-form.active{
    transform:scaleY(1);
}

.header .busca-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .busca-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .busca-form label:hover{
    color: var(--main-color);
}

.header .cart-items-container{
  position: absolute; 
  top:100%; right: -100%; 
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #363434;
  padding: 0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
position: relative;
margin:3rem 0;
display: flex;
align-items: center;
gap:1.5rem;
}

.header .cart-items-container .cart-item img{
    height: 20%;
    width: 20%;
}


.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: .1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
    
}

.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}

.header .cart-items-container .cart-item .content h3{
    font-size: 1rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: url(../img/daAna/daana.png) no-repeat;
    background-image: url(../img/bannerAna.png);
    background-size: cover;
    background-position: center;
}
/* ==========================sobre a historia================= */
.historia{
    width: 2000vh;
    position: static;
    margin: auto;
    border: 1px solid black;
    
}
.imagem{
    
    text-align: center;
    height: 500px;
    

}
.imagem img{
    width: 100vh;
    margin-top: -200px;
    filter:drop-shadow(10px 5px 5px );
}

h1{
    margin: auto;
    text-align: center;
    font-size: 40px;
    border: 1px solid;
    filter: drop-shadow(1px 3px 1px #f32c2c);
    width: 70vh;
    border-radius: 10px;
    margin-bottom: 50px;
    
}
p{
    text-align: center;
    font-size:3vh ;
}
.second-history h1{
text-align: center;
}
.second-history p{
    font-size: 3vh;
    font-family: "poppins" sans-serif;
}

.footer{
    background: var(--black);
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
}











/* media queries */

@media(max-width:991px){
    
    html{
        font-size: 55%; 
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media(max-width:768px){
  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 100%; right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem)
  }

  .header .navbar.active{
    right: 0;
  }


  .header .navbar a{
    color:var(--black);
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
  }

  .header .busca-form{
    width: 90%;
    right: 2rem;
  }

  .home{
    background-position: left;
    justify-content: center;
    text-align: center;
}

.home .content h3{
  font-size: 4.5rem;  
}

.home .content p{
    font-size: 1.5rem;

}
/* ================================== */
.carousel-control-next{
    width: 50vh;
    bottom: 40vh;
}
.carousel-control-prev{
    bottom: 40vh;
}
#carouselExampleInterval{

    margin-left: 3vh;
    width: 100vh;
}
.carrousel-texto{
    display: block;
    width: 100vh;
}
.carrousel-texto .textinho{
    
    font-size: 15px;
    
    width: 400px;margin-left: 10px;

}
/* ================================== */

}

@media(max-width:450px) {
    html{
        font-size: 50%; 
    }
}